﻿@model NolekWCFService.Model.Calculator

@{   Layout = null;}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
    <body>
        <form id="form1" method="post">
            <div>
                <table>
                    <tr>
                        <td>First Number:</td>
                        <td>@Html.TextBox("Num1", Model.Num1.ToString())</td>
                        <td><p id="SecLevel"></p></td>
                    </tr>
                    <tr>
                        <td>Second Number:</td>
                        <td>@Html.TextBox("Num2", Model.Num2.ToString())</td>
                    </tr>
                    <tr>
                        <td>Key:</td>
                        @*<td>@Html.TextBox("Key", Model.Key.ToString())</td>*@<td>This function is still under work</td><td>Possible keys are: Sec1, Sec2, Sec3, Sec4</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td><input name="submit" type="submit" id="submitAdd" value="Add" /></td>
                        <td><input name="submit" type="submit" id="submitSubtract" value="Subtract" /></td>
                        <td><input name="submit" type="submit" id="submitMultiply" value="Multiply" /></td>
                        <td><input name="submit" type="submit" id="submitDivide" value="Divide" /></td>


                        @*<td><input type="button" onserverclick="AddNumber" value="Add" runat="server" /></td>
                        <td><input type="button" onserverclick="SubNumber" value="Subtract" runat="server" /></td>
                        <td><input type="button" onserverclick="MulNumber" value="Multiply" runat="server" /></td>
                        <td><input type="button" onserverclick="DivNumber" value="Divide" runat="server" /></td>*@
                        <td>Result:</td>
                        <td>@Html.TextBox("Result", ViewData["Result"])</td>
                    </tr>
                </table>
                @*<table>
                    <tr>
                        <td><input type="button" onclick="SetSecurity('Sec1')" value="Sec1" /></td>
                        <td><input type="button" onclick="SetSecurity('Sec2')" value="Sec2" /></td>
                        <td><input type="button" onclick="SetSecurity('Sec3')" value="Sec3" /></td>
                        <td><input type="button" onclick="SetSecurity('Sec4')" value="Sec4" /><input type="hidden" name="Key" id="Key" value="" /></td>
                    </tr>
                </table>*@
            </div>
        </form>

        <script>
    @*function SetSecurity()
    {
        window.localStorage.setItem("SecurityLevel", arguments[0]);
        document.getElementById("Key").value = arguments[0];
       Model.Key = arguments[0];
        document.getElementById("SecLevel").innerHTML = "Security Level: " + arguments[0];
    }*@

    @*function CheckSecurity() {
            @Model.Key = localStorage.getItem["SecurityLevel"];
            //document.getElementById("KeyField").innerHTML = localStorage.getItem["SecurityLevel"]
    }*@

        </script>
    </body>
</html>
